@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
* {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #252627;
  color: #FFF9FB;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
img {
  opacity: 0.3;
}

.carousel-indicators {
  background-color: transparent;
}
.carousel-indicators li {
  min-height: 5px;
  min-width: 20%;
}

.carousel-caption, h1, h3 {
  background-color: transparent;
  top: 30%;
  bottom: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 8px;
  word-spacing: 4px;
  color: #FD6A02;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #FFF9FB;
}
