<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
          <h1>GABARDO E-COMMERCE SOLUTIONS.</h1>
          <h4>Soluções Inteligentes de Lojas Online.</h4>
        </div>
        <img class="d-block w-100" src="https://images.adsttc.com/media/images/591a/5af2/e58e/ced8/ef00/009d/large_jpg/6.jpg?1494899430" alt="First slide">
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h1>SOFTWARE PROPRIETÁRIO.</h1>
          <h3>Produto customizado para suas necessidades.</h3>
        </div>
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1525332193053-dee9e7348624?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a171c64a1cb121a923c4e95d8308ca9e&auto=format&fit=crop&w=1050&q=80" alt="Second slide">
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h1>Equipe Especializada.</h1>
          <h3>Experiencia especializada em soluções Front-End, CMS e e-Commerce.</h3>
        </div>
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1523871762770-87bda6d9ab58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=651c083bb21d6ff0ef6eaa4136cbef56&auto=format&fit=crop&w=1185&q=80" alt="Third slide">
      </div>

    </div>
  </div>
</div>
