body {

}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
  background-color: #252627;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.card-group {
  padding: 10px;
  margin: 5%;
  max-width: 30%;
  display: inline-grid;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*hr {
  height: 6px;
  margin: 0;
  padding: 0;
  background-color: #F15152;
  border-top: 7px #000 solid;
}*/

.carousel-indicators {
  background-color: transparent;
  position: absolute;
  bottom: 0;

}
.carousel-indicators li {
  min-height: 5px;
  min-width: 20%;
}
