<!--div class="container-fluid">
<div class="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PROJETO 1</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">WEBSITE WORDPRESS</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CMS</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PORTFOLIO CLIENTE</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">LEGAL WEBSITE</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SUPER WEBSITE</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

</div>
<hr-->




<div class="container-fluid">
  <div id="carouselProjectsIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselProjectsIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselProjectsIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PROJETO 1</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PROJETO 2</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PROJETO 3</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PROJETO 4</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PROJETO 5</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PROJETO 6</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
