<div class="container-fluid">
  <!--div class="container"-->
    <h3 id="titulo">Nossos Projetos</h3>
    <div id="carouselProjectsIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselProjectsIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselProjectsIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="./assets/websites/maxtullio.png" alt="Card image cap">
              <div class="card-body">
                <a href="http://www.maxtullio.com/"><h5 class="card-title">Max Tulio</h5></a>
                <p class="card-text">Website com intuito de portfolio artístico criado para o graduando americano Max Tullio, utilizando a plataforma CMS <i>"Cargo Collective".</i></p>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="./assets/websites/cfc.png" alt="Card image cap">
              <div class="card-body">
                <a href="#"><h5 class="card-title">CFC Universal</h5></a>
                <p class="card-text">Website estático para a Autoescola Universal, utilizando Angular (HTML, CSS, JS). <br>EM PRODUÇÃO.</p>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">PROJETO 3</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">PROJETO 4</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">PROJETO 5</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="./assets/placeholder.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">PROJETO 6</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--/div-->
</div>
