/* You can add global styles to this file, and also import other style files */

/*
COLOUR PALLETE
DARK: #252627
LIGHT: #FFF9FB
CONTRAST: #F15152
BLUE: #4B88A2
*/


@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Spectral');
@import url('https://fonts.googleapis.com/css?family=Spectral:100,100i,400');

*{
  font-family: 'Spectral', serif;
  font-size: 18px;
}
.btn-primary {
  background-color: #4B88A2;
  border: none;
}
